{{ ansible_managed | comment }}
[Unit]
Description=Run restic backup
Wants=network-online.target
After=network.target network-online.target
User=root
{% for item in restic_service_unit_extra_options %}
{{ item }}
{% endfor %}

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup
